*{
    padding: 0%;
    margin: 0%;
}

.first{
background-color: black;
height: 60px;
width: 100%;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
padding-top: 1rem;
gap: 3rem;


}

.nav-item{
background-image: url(../assets/my\ own\ 6.jpeg);
height: 100vh;
width: 100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.center{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    padding-top: 20rem;
    display: grid;
    
}

.h3-item{
font-size: xxx-large;
font-weight: 70;
/* padding: 5px; */
}

.h1-item{
    font-size: xx-large;
    font-weight: bolder;
    /* padding: 5px; */
}
.h6-item{

}
 
.portfolio-item{
    background-color: #222222;
    height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
color: white;
}

.resume-item{
    background-color: #222222;
    height: 100vh;
    color: white;

}

.about-item{
    background-color:#222222;
    height: 100vh;
    color: white;

}

.contact-item{
    background-color: #222222;
    height: 100vh;
    color: white;
}

.h1-things{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: xx-large;
}

.h3-things{
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    font-size: xx-large;
}
/* 
.portfolio-item a{
    justify-content: center;
    padding-top: 7rem;
    display: inline; */
    


.element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5rem;
}
.a-items{
    display: flex;
    font-size:large;
    padding-top: 3rem;
    font-weight: lighter;
    gap: 2rem;
    
}
.a-items a{

    
}
.my{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.res{
    height:120vh ;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 5px;
}

.sch{
    background-color: #333333;
    margin: 1rem;
    height: 40vh;
    width: 400px;
    
}

.scho{
    background-color: #333333;
    margin: 1rem;
    height: 40vh;
    width: 400px;
}

.schoo{
    background-color: #333333;
    margin: 1rem;
    height: 40vh;
    width: 400px;
}
